/**
 * 通用样式及变量
 */
@import '@/uni_modules/uni-scss/index.scss';

/* 主题相关变量 */
// 明亮
.light {
  --background-color: white;
  --color: black;
}

// 暗黑
.dark {
  --background-color: black;
  --color: white;
}

.page {
  height: 100%;
  align-items: center;
  background-color: var(--background-color);
}


/* 颜色变量（统一自：uni-scss/index.scss） */


/* 尺寸变量 */
// 文字尺寸（默认：16px）
$uni-font-size-small: 12px;
$uni-font-size-large: 20px;


/* 通用样式 */
.text-primary, .line-primary {
	color: $uni-primary;
}

.text-success, .line-success {
	color: $uni-success;
}

.text-warning, .line-warning {
	color: $uni-warning;
}

.text-error, .line-error {
	color: $uni-error;
}

.text-info, .line-info {
	color: $uni-info;
}
